<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <header>
        <div class="teks">
            <p>jum'at,15,maret,2024</p>
        </div>
    </header>
    <div class="images">
        <div class="conten">

            <img src="bg.jpg" alt="">
            
            <h1>uniiversitas</h1>
            <h2>suryakancana</h2>
        </div>
        <nav>
           
            <ul>
               
                <li><a href="#">INFORMASI&BERITA</a></li>
                <li><a href="#">TENTANG KAMI</a></li>
                <li><a href="#">PRESTASI</a></li>
                <li><a href="#">GO TO UNIVERSITY</a></li>
                <li><a href="#">ALBUM POTO</a></li>
            
            </ul>
        </nav>
    </div>
   
 <!-- content -->
 <div class="content">
    <h2>GALERI FOTO TERBARU</h2>
    <p>BERIKUT BEBERAPA GALERI FOTO TERBARU SMAN 6 BEKASI</p>
  </div>

  <div class="card-container">
    <div class="card1">
        <img src="poto1.jpg" alt="">
        <div class="card-content">
            <h3>kegiatan sma</h3>
            <a href="#">selengkapnya</a>
        </div>
    </div>
    
    <div class="card2">
        <img src="poto2.jpg" alt="">
        <div class="card-content">
            <h3>kegiatan sma</h3>
            <a href="#">selengkapnya</a>
        </div>
    </div>
    <div class="card3">
        <img src="poto1.jpg" alt="">
        <div class="card-content">
            <h3>kegiatan sma</h3>
            <a href="#">selengkapnya</a>
        </div>
    </div>
    <div class="card4">
        <img src="poto2.jpg" alt="">
        <div class="card-content">
            <h3>kegiatan sma</h3>
            <a href="#">selengkapnya</a>
        </div>
    </div>
</div>
<!-- footer -->
    <footer>
        <div class="footer">
            <div class="section">
                <h3>SMAVO</h3>
                <div class="des-smavo">
                    <p>SMAVO atau sma negri 2 cibinong, berdiri tahun 1994 berletak di JL karadenan no. 05 Cibinong 
                        kabupaten bogor 16913 - jawa barat indonesia
                        dan hingga kini sekolah ini terus melakukan perkembangan di bidang akademik dan non-akademik 
                        untuk menunjang kebutuhan pendidikan bagi seluruh warga indonesia.
                    </p>
                </div>
            </div>
            <div class="section">
                <h3>LINK TERKAIT</h3>
                <div class="des-link">
                 <div class="a"><a href="">Login Administrator</a></div>
                 <div class="a"><a href="">Penerimaan siswa baru</a></div>
                 <div class="a"><a href="">Kemendikbud-Ristek</a></div>
                 <div class="a"><a href="">Beasiswa LPDP</a></div>
                </div>
            </div>
        </div>
        <div class="copy">Copyright@2021 SMA NEGRI 2 Cibinong. ALL Right Reserved</div>
    </footer>
</body>
</html>
